
.fp-form__button{
    background-color:#1a5f28;
    border: none;
    border-radius: 10px;
}

.fp-form__button:hover{
    background-color: #083a12;
}

.fp-elements{
    margin-top: 20px;
    background: #9edaab;
    border-radius: 20px;
    padding: 20px;
    height: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.nav-bar{
    background-color:#1a5f28;
}

.brand{
    color: aliceblue;
}

.brand:hover{
    cursor: auto;
    color: aliceblue;
}


